 <style>
     *{
         margin: 0;
     }
        nav{
            display: flex;
            justify-content: space-between;
            padding: 1rem 1rem;
            background-color: #222;
            color: #fff;
        }
        nav .menu a{
            padding: 0.8rem;
            text-decoration:none;
            color: #fff;
        }

        nav .logo{
            font-size: 1.4rem;
        }
        
    </style>

<nav>
    <div class="logo">
        testForm
    </div>
    <div class="menu">
        <a href="/">Home</a>
        <a href="/login">Login</a>
        <a href="/signup">Signup</a>
    </div>
</nav>